<%- include('partials/header') %>

<section class="kludas-lapa">
    <h1><%= t('error.title') %> <%= kods %></h1>
    <p><%= zinojums %></p>
    <a href="/" class="poga primara"><%= t('common.atpakal_uz_sakumu') %></a>
</section>

<%- include('partials/footer') %>
